- name: Download Tcp Brutal installer
  ansible.builtin.get_url:
    url: "{{ tcp_brutal_script_url }}"
    dest: /tmp/tcp_brutal.sh
    mode: 755
    force: true
  when: enable_tcp_brutal
  tags:
    - sing-box

- name: Execute the tcp_brutal.sh
  ansible.builtin.command: /tmp/tcp_brutal.sh
  changed_when: false
  when: enable_tcp_brutal
  tags:
    - sing-box

- name: Download sing-box installer
  ansible.builtin.get_url:
    url: "{{ sing_box_script_url }}"
    dest: /tmp/sing-box.sh
    mode: 755
    force: true
  tags:
    - sing-box

- name: Execute the sing-box.sh
  ansible.builtin.command: /tmp/sing-box.sh
  changed_when: false
  tags:
    - sing-box

- name: Cleanup
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  with_items:
    - /tmp/sing-box.sh
    - /tmp/tcp_brutal.sh
  tags:
    - sing-box

- name: Check if sing-box config exists
  delegate_to: localhost
  ansible.builtin.stat:
    path: "{{ sing_box_config_file }}"
  register: sing_box_config
  tags:
    - sing-box
    - sing-box-config
    - debug

- name: Sing-box config warning
  ansible.builtin.debug:
    msg: |
      sing-box config does not exists! please create your own config at
        {{ sing_box_config_file }}
  when: not sing_box_config.stat.exists
  tags:
    - sing-box
    - sing-box-config
    - debug

- name: Copy sing-box config
  ansible.builtin.copy:
    src: "{{ sing_box_config_file }}"
    dest: /etc/sing-box/
    mode: '0644'
    force: true
  when: sing_box_config.stat.exists
  tags:
    - sing-box
    - sing-box-config

- name: Check sing-box config
  ansible.builtin.command: sing-box -C /etc/sing-box/ check
  register: check_result
  changed_when: false
  tags:
    - sing-box
    - sing-box-config

- name: Sing-box config warning
  ansible.builtin.debug:
    msg: |
      sing-box config does not pass check! please check your config
  when: check_result.failed
  tags:
    - sing-box
    - sing-box-config
    - debug

- name: Restart sing-box
  ansible.builtin.service:
    name: sing-box
    state: restarted
  when: not check_result.failed
  tags:
    - sing-box
    - sing-box-config

- name: Enable sing-box
  ansible.builtin.service:
    name: sing-box
    state: started
    enabled: true
  when: not check_result.failed
  tags:
    - sing-box

- name: Enable IP forwarding
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    state: present
    sysctl_file: /etc/sysctl.d/99-ansible-sing-box.conf
    reload: true
  when: port_forwards is defined
  tags:
    - port-forwarding

- name: Check for nftables
  ansible.builtin.stat:
    path: /usr/sbin/nft
  register: nftables_binary
  tags:
    - port-forwarding

- name: Include nftables tasks
  ansible.builtin.include_tasks: nftables.yml
  when: nftables_binary.stat.exists and port_forwards is defined
  tags:
    - port-forwarding

- name: Check for iptables
  ansible.builtin.stat:
    path: /usr/sbin/iptables
  register: iptables_binary
  tags:
    - port-forwarding

- name: Include iptables tasks
  ansible.builtin.include_tasks: iptables.yml
  when:
    - iptables_binary.stat.exists
    - not nftables_binary.stat.exists
    - port_forwards is defined
  tags:
    - port-forwarding
