- name: Downlaod Tcp Brutal installer
  get_url:
    url: "{{ tcp_brutal_script_url }}"
    dest: /tmp/tcp_brutal.sh
    mode: 755
    force: yes
  tags:
    - sing-box

- name: Execute the tcp_brutal.sh
  shell: /tmp/tcp_brutal.sh
  tags:
    - sing-box

- name: Download sing-box installer
  get_url:
    url: "{{ sing_box_script_url }}"
    dest: /tmp/sing-box.sh
    mode: 755
    force: yes
  tags:
    - sing-box

- name: Execute the sing-box.sh
  shell: /tmp/sing-box.sh
  tags:
    - sing-box

- name: cleanup
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - /tmp/sing-box.sh
    - /tmp/tcp_brutal.sh
  tags:
    - sing-box

- name: check if sing-box config exists
  local_action: stat path={{ sing_box_config_file_path }}
  register: sing-box-config
  tags:
    - sing-box
    - sing-box-config
    - debug

- name: sing-box config warning
  debug:
    msg: |
      sing-box config does not exists! please create your own config at
        {{ sing_box_config_file_path }}
  when: not sing-box-config.stat.exists
  tags:
    - sing-box
    - sing-box-config
    - debug

- name: copy sing-box config
  copy:
    src: "{{ sing_box_config_file_path }}"
    dest: /etc/sing-box/
    force: true
  when: sing-box-config.stat.exists
  tags:
    - sing-box
    - sing-box-config

- name: check sing-box config
  command: sing-box -C /etc/sing-box/ check
  register: check_result
  tags:
    - sing-box
    - sing-box-config

- name: sing-box config warning
  debug:
    msg: |
      sing-box config does not pass check! please check your config
  when: check_result.failed
  tags:
    - sing-box
    - sing-box-config
    - debug

- name: restart sing-box
  service:
    name: sing-box
    state: restarted
  when: not check_result.failed
  tags:
    - sing-box
    - sing-box-config

- name: enable sing-box
  service:
    name: sing-box
    state: started
    enabled: yes
  when: not check_result.failed
  tags:
    - sing-box
